<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <!-- <link rel="stylesheet" href="./style.css" /> -->

    <style>
      body {
        background-image: linear-gradient(#20bf55, #01baef);
        background-repeat: no-repeat;
        /* height: 100%; */
        /* margin: auto; */
        /* background-size: cover; */
        background-position: center;
        background-size: cover;
        width: 99%;
        height: 100vh; /* responsive height */
      }

      h1 {
        font-size: 36px;
        margin: 20px;
      }

      p {
        font-size: 20px;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <h1>About ServeGoal</h1>
    <hr />
    <p>
      ➔ This product is for those who want to follow their dreams and learn
      different things. <br />
      <br />
      ➔ By gathering all educational platforms in one location, users can now
      more easily search for any course they want to take, and all platforms
      that provide courses linked to that course will appear in a sorted order
      (such as sorted by reviews,ratings,number of people who took it). <br />
      <br />
      ➔ Therefore, one may use our product to see all of the platforms that are
      delivering the course and which ones are the best to pursue, as opposed to
      visiting several platforms and selecting which one is preferable for a
      course.
    </p>
  </body>
</html>
